@page "/{pageNumber:int?}"
@using System.Security.Claims
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (User.Identity is not null && User.Identity.IsAuthenticated)
    {
        <div class="cheepbox">
            <h3>What's on your mind @(User.FindFirstValue(ClaimTypes.Name))?</h3>
            <form method="post">
                <input style="float: left" type="text" name="Cheep">
                <input type="submit" value="Share">
            </form>
        </div>
    }
    @if (!ModelState.IsValid)
    {
        var cheepErrors = ModelState["Cheep"]?.Errors;
        if (cheepErrors != null)
        {
            @foreach (var error in cheepErrors)
            {
                <p>@error.ErrorMessage</p>
            }
        }
    }
    @if (Model.Cheeps.Any())
    {
        <p>Showing @Model.Cheeps.Count() cheeps!</p> 
        
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                
                <li>
                    <p>
                        <strong>
                            @if(cheep.Author.Equals("DeletedUser"))
                            {
                                <a disabled="true">Deleted user</a>
                            }
                            else
                            {
                                <a href="/@cheep.Author">@cheep.Author</a>
                            }
                        </strong>
                        @foreach (var part in cheep.HighlightedParts) //Displaying text of cheeps
                        {
                            if (part.IsMention)
                            {
                                <a href="/@part.Text.TrimStart('@')">@part.Text</a>
                            }
                            else
                            {
                                @part.Text
                            }
                        }
                        <small>- @cheep.DateTime()</small>
                    </p>
                </li>
            }
        </ul>
        <div style="display: flex; justify-content: center;">
            <button><a href="/?page=@(Model.PageNumber+1)">Next Page</a></button>
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    

</div>
